.title-profile {
    display: inline-block;
    min-height: fit-content;
}

.advertisement-row {
    display: grid;
    grid-template-rows: auto;
    min-height: fit-content;
}

.advertisement-row button {
    display: inline-block;
    margin: 0 auto;
}

.adver-row {
    display: grid;
    padding: 7px;
    max-width: 150px;
}

.adver-row p {
    display: inline-block;
    min-height: fit-content;
    margin: 15px;
}
