.bodypage {
    text-align: center;
    position: relative;
    height: 5vh;
    padding: 15px;
    gap: 0px 0px;
    width: 100%;
}

.Advertisement {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    min-height: fit-content;
}

.User_Profile {
    display: inline-block;
    min-height: fit-content;
}

.user-row p {
    display: inline-block;
    min-height: fit-content;
    margin: 15px;
}

.user-row button {
    display: inline-block;
    margin: 0 auto;
}

.adver-row {
    display: grid;
    margin: 0 auto;
}